{% extends "layout.html" %}
{% block body %}
 
<head>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<span id="label">label</span> 
<div id="radioPick">
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
</div>
{% endblock %}
