{% extends "layout.html" %}
{% block body %}

<head>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<style>
    input [type="radio"],.NiceRadio {float:left;}
</style>
<div class="w3-row w3-border">
	<div class="w3-half">
		<div class="w3-container w3-left-align">
			<label class="radioPick"><input type="radio" name="submit" value="Do Something">Abel Trujillo</label><br>
	       		<label class="radioPick"><input type="radio" name="submit" value="Do Something">Adam Wieczorek</label><br>
			<label class="radioPick"><input type="radio" name="submit" value="Do Something">Akbar hArreola</label><br>
			<label class="radioPick"><input type="radio" name="submit" value="Do Something">Alejandro Perez</label><br>
      	 		<label class="radioPick"><input type="radio" name="submit" value="Do Something">Alessio Di Chirico</label><br>
     			<label class="radioPick"><input type="radio" name="submit" value="Do Something">Alex Garcia</label><br>
        		<label class="radioPick"><input type="radio" name="submit" value="Do Something">Alex Nicholson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Alex Oliveira</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Alex Volkanovski</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Alexander Volkov</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Alexander Yakovlev</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Alistair Overeem</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Andreas Stahl</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Andrew Craig</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Andrew Holbrook</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Anthony Birchak</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Anthony Waldburger</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Antonio Rogerio Nogueira</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ashlee Evans</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Augusto Mendes</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Augusto Montano</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Belal Muhammad</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Ben Rothwell</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ben Saunders</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Beneil Dariush</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Bobby Green</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">BrunoSantos</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Bryan Caraway</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Cain Velasquez</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">CB Dollaway</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Chad Mendes</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Chris Wade</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Claudio Puelles</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Clay Collard</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Cezar Ferreira</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Cody Garbrandt</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Cody Gibson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Corey Anderson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Court McGee</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Cyril Asker</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Damon Jackson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Daniel Cormier</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Daniel Hooker</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Daniel Jolly</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Dan Kelly</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Danny Castillo</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Dave Galera</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Derek Brunson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">DerrickLewis</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Dmitry Smolyakov</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Dominique Steele</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Doo Ho Choi</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Dustin Ortiz</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Elias Theodorou</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Erick Montano</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Erik Koch</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Evan Dunham</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Fabricio Werdum</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Francisco Rivera</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Francisco Trinaldo</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Frank Mir</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">FrankieEdgar</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Gabriel Benitez</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Gegard Mousasi</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">George Sullivan</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Gian Villante</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Gilbert Burns</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Gleison Tibau</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Hacran Dias</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Ian Entwistle</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Islam Makhachev</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Jake Lindsey</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Jake Matthews</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">James Krause</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">James Mulheron</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Jamie Varner</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Jason Saggo</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Jessica Andrade</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Joaquim Silva</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Joe Riggs</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">John Moraga</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Johnny Case</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Jon Jones</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Josh Burkman</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Josh Sampo</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Josh Thomson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Juan Manuel Puig</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Julian Erosa</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Justin Scoggins</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Justin Willis</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ketlen Vieira</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Kevin Casey</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Kevin Lee</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Levan Makashvili</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Luke Barnatt</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Luan Chagas</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Luke Jumeau</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Lymon Good</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Marcin Wrzosek</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Marcus Brimage</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Marion Reneau</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Mark Hunt</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Martin Bravo</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Matheus Nicolau</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Mauricio Rua</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Max Griffin</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Matt Dwyer</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Michael Bisping</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Michael Chiesa</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Mike Rhodes</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Misha Cirkunov</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Mitch Gagnon</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Mizuto Hirota</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Olivier Aubin-Mercier</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Oluwale Bamgbose</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Pat Barry</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Patrick Cote</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Patrick Cummins</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Patrick Williams</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Paul Felder</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Piotr Hallmann</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rafael Natal</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rafael dos Anjos</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rafaello Oliveira</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rani Yahya</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Raphael Assuncao</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rashid Magomedov</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Renato Carneiro</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Richie Vaculik</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Richie Vacult</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Roger Narvaez</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Robert Whittaker</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rodrigo Damm</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Roldan Sangcha'an</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Roman Salazar</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ronaldo Souza</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ross Pearson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Roy Nelson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Royston Wee</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ryan Benoit</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Sam Alvey</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Sean O'Connell</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Sergio Moraes</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Sergio Pettis</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Soa Palelei</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Takeya Mizugaki</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Tatsuya Kawajiri</label><br>
			<label class="radioPick"><input type="radio" name="submit" value="Do Something">Thomas Almeida</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Tiago dos Santos e Silva</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Tony Ferguson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Tom Niinimaki</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Travis Browne</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Wendell Oliveira Marques</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">William Macario</label><br>
      		  <label class="radioPick"><input type="radio" name="submit" value="Do Something">Wilson Reis</label><br>
       	 <label class="radioPick"><input type="radio" name="submit" value="Do Something">Yan Cabral</label><br>
        	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Yancy Medeiros</label><br>
		        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Zach Makovsky</label><br>
        		<label class="radioPick"><input type="radio" name="submit" value="Do Something">Zubair Tuhugov</label><br>
		</div>
	</div>
</div>
{% endblock %}

