{% extends "layout.html" %}
{% block body %}

<head>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<style>
    input [type="radio"],.NiceRadio {float:left;}
</style>
<div class="w3-row w3-border">
	<div class="w3-half">
		<div class="w3-container">
			<span id="label">label</span>
			<label class="radioPick"><input type="radio" name="submit" value="Do Something">Abel Trujillo</label>
	       		<label class="radioPick"><input type="radio" name="submit" value="Do Something">Adam Wieczorek</label>
			<label class="radioPick"><input type="radio" name="submit" value="Do Something">Akbar hArreola</label>
			<label class="radioPick"><input type="radio" name="submit" value="Do Something">Alejandro Perez</label>
      	 		<label class="radioPick"><input type="radio" name="submit" value="Do Something">Alessio Di Chirico</label>
     			<label class="radioPick"><input type="radio" name="submit" value="Do Something">Alex Garcia</label>
        		<label class="radioPick"><input type="radio" name="submit" value="Do Something">Alex Nicholson</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Alex Oliveira</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Alex Volkanovski</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Alexander Volkov</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Alexander Yakovlev</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Alistair Overeem</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Andreas Stahl</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Andrew Craig</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Andrew Holbrook</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Anthony Birchak</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Anthony Waldburger</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Antonio Rogerio Nogueira</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ashlee Evans</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Augusto Mendes</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Augusto Montano</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Belal Muhammad</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Ben Rothwell</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ben Saunders</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Beneil Dariush</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Bobby Green</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">BrunoSantos</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Bryan Caraway</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Cain Velasquez</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">CB Dollaway</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Chad Mendes</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Chris Wade</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Claudio Puelles</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Clay Collard</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Cezar Ferreira</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Cody Garbrandt</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Cody Gibson</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Corey Anderson</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Court McGee</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Cyril Asker</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Damon Jackson</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Daniel Cormier</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Daniel Hooker</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Daniel Jolly</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Dan Kelly</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Danny Castillo</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Dave Galera</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Derek Brunson</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">DerrickLewis</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Dmitry Smolyakov</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Dominique Steele</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Doo Ho Choi</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Dustin Ortiz</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Elias Theodorou</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Erick Montano</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Erik Koch</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Evan Dunham</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Fabricio Werdum</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Francisco Rivera</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Francisco Trinaldo</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Frank Mir</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">FrankieEdgar</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Gabriel Benitez</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Gegard Mousasi</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">George Sullivan</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Gian Villante</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Gilbert Burns</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Gleison Tibau</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Hacran Dias</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Ian Entwistle</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Islam Makhachev</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Jake Lindsey</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Jake Matthews</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">James Krause</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">James Mulheron</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Jamie Varner</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Jason Saggo</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Jessica Andrade</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Joaquim Silva</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Joe Riggs</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">John Moraga</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Johnny Case</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Jon Jones</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Josh Burkman</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Josh Sampo</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Josh Thomson</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Juan Manuel Puig</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Julian Erosa</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Justin Scoggins</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Justin Willis</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ketlen Vieira</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Kevin Casey</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Kevin Lee</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Levan Makashvili</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Luke Barnatt</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Luan Chagas</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Luke Jumeau</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Lymon Good</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Marcin Wrzosek</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Marcus Brimage</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Marion Reneau</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Mark Hunt</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Martin Bravo</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Matheus Nicolau</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Mauricio Rua</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Max Griffin</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Matt Dwyer</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Michael Bisping</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Michael Chiesa</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Mike Rhodes</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Misha Cirkunov</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Mitch Gagnon</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Mizuto Hirota</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Olivier Aubin-Mercier</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Oluwale Bamgbose</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Pat Barry</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Patrick Cote</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Patrick Cummins</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Patrick Williams</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Paul Felder</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Piotr Hallmann</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rafael Natal</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rafael dos Anjos</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">test</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rafaello Oliveira</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rani Yahya</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Raphael Assuncao</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rashid Magomedov</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Renato Carneiro</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Richie Vaculik</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Richie Vacult</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Roger Narvaez</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Robert Whittaker</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Rodrigo Damm</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Roldan Sangcha'an</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Roman Salazar</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ronaldo Souza</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ross Pearson</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Roy Nelson</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Royston Wee</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Ryan Benoit</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Sam Alvey</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Sean O'Connell</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Sergio Moraes</label>
	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Sergio Pettis</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Soa Palelei</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Takeya Mizugaki</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Tatsuya Kawajiri</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Thomas Almeida</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Tiago dos Santos e Silva</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Tony Ferguson</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Tom Niinimaki</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Travis Browne</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Wendell Oliveira Marques</label>
        <label class="radioPick"><input type="radio" name="submit" value="Do Something">William Macario</label>
      		  <label class="radioPick"><input type="radio" name="submit" value="Do Something">Wilson Reis</label>
       	 <label class="radioPick"><input type="radio" name="submit" value="Do Something">Yan Cabral</label>
        	<label class="radioPick"><input type="radio" name="submit" value="Do Something">Yancy Medeiros</label>
		        <label class="radioPick"><input type="radio" name="submit" value="Do Something">Zach Makovsky</label>
        		<label class="radioPick"><input type="radio" name="submit" value="Do Something">Zubair Tuhugov</label>
		</div>
	</div>
</div>
{% endblock %}

