{% extends "layout.html" %}
{% block body %}

<head>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<style>
    input [type="radio"],.NiceRadio {float:left;}
</style>
<div class="w3-row w3-border">
	<div class="w3-half">
		<div class="w3-container w3-left-align">
			<label class="radioPick"><input type="radio" name="submit" value="AbelTrujillo">Abel Trujillo</label><br>
	       		<label class="radioPick"><input type="radio" name="submit" value="AdamWieczorek">Adam Wieczorek</label><br>
			<label class="radioPick"><input type="radio" name="submit" value="AkbarArreola">Akbar Arreola</label><br>
			<label class="radioPick"><input type="radio" name="submit" value="AlejandroPerez">Alejandro Perez</label><br>
      	 		<label class="radioPick"><input type="radio" name="submit" value="AlessioDiChirico<">Alessio Di Chirico</label><br>
     			<label class="radioPick"><input type="radio" name="submit" value="AlexGarcia">Alex Garcia</label><br>
        		<label class="radioPick"><input type="radio" name="submit" value="AlexNicholson">Alex Nicholson</label><br>
			<label class="radioPick"><input type="radio" name="submit" value="AlexOliveira">Alex Oliveira</label><br>
			<label class="radioPick"><input type="radio" name="submit" value="AlexVolkanovski">Alex Volkanovski</label><br>	
			<label class="radioPick"><input type="radio" name="submit" value="AlexanderVolkov">Alexander Volkov</label><br>
			<label class="radioPick"><input type="radio" name="submit" value="AlexanderYakovlev">Alexander Yakovlev</label><br>
			<label class="radioPick"><input type="radio" name="submit" value="AlistairOvereem">Alistair Overeem</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="AndreasStahl">Andreas Stahl</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="AndrewCraig">Andrew Craig</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="AndrewHolbrook">Andrew Holbrook</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="AnthonyBirchak">Anthony Birchak</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="AnthonyWaldburger">Anthony Waldburger</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="AntonioRogerioNogueira">Antonio Rogerio Nogueira</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="AshleeEvans">Ashlee Evans</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="AugustoMendes">Augusto Mendes</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="AugustoMontano">Augusto Montano</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="BelalMuhammed">Belal Muhammad</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="BenRothwell">Ben Rothwell</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="BenSaunders">Ben Saunders</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="BeneilDariush">Beneil Dariush</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="BobbyGreen">Bobby Green</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="BrunoSantos">BrunoSantos</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="BryanCaraway">Bryan Caraway</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="CainVelasquez">Cain Velasquez</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="CBDollaway">CB Dollaway</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="ChadMendes">Chad Mendes</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="ChrisWade">Chris Wade</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="ClaudioPuelles">Claudio Puelles</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="ClayCollard">Clay Collard</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="CezarFerreira">Cezar Ferreira</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="CodyGarbrandt">Cody Garbrandt</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="CodyGibson">Cody Gibson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="CoreyAnderson">Corey Anderson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="CourtMcgee">Court McGee</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="CyrilAsker">Cyril Asker</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="DamonJackson">Damon Jackson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="DanielCormier">Daniel Cormier</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="DanielHooker">Daniel Hooker</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="DanielJolly">Daniel Jolly</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="DanKelly">Dan Kelly</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="DannyCastillo">Danny Castillo</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="DaveGalera">Dave Galera</label><br>
       	 <label class="radioPick"><input type="radio" name="submit" value="DerekBrunson">Derek Brunson</label><br>
    	    <label class="radioPick"><input type="radio" name="submit" value="DerrickLewis">Derrick Lewis</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="DmitrySmolyakov">Dmitry Smolyakov</label><br>
        	<label class="radioPick"><input type="radio" name="submit" value="DominiqueSteele">Dominique Steele</label><br>
	        <label class="radioPick"><input type="radio" name="submit" value="DooHoChoi">Doo Ho Choi</label><br>
        	<label class="radioPick"><input type="radio" name="submit" value="DustinOrtiz">Dustin Ortiz</label><br>
		<label class="radioPick"><input type="radio" name="submit" value="EliasTheodorou">Elias Theodorou</label><br>
       		 <label class="radioPick"><input type="radio" name="submit" value="ErickMontano">Erick Montano</label><br>
        	<label class="radioPick"><input type="radio" name="submit" value="ErikKoch">Erik Koch</label><br>
        		<label class="radioPick"><input type="radio" name="submit" value="EvanDunham">Evan Dunham</label><br>
		<label class="radioPick"><input type="radio" name="submit" value="FabricioWerdum">Fabricio Werdum</label><br>
        	<label class="radioPick"><input type="radio" name="submit" value="FranciscoRivers">Francisco Rivera</label><br>
		<label class="radioPick"><input type="radio" name="submit" value="FranciscoTrinaldo">Francisco Trinaldo</label><br>
		<label class="radioPick"><input type="radio" name="submit" value="FrankMir">Frank Mir</label><br>
        	<label class="radioPick"><input type="radio" name="submit" value="FrankieEdgar">FrankieEdgar</label><br>
        	<label class="radioPick"><input type="radio" name="submit" value="GabrielBenitez">Gabriel Benitez</label><br>
        	<label class="radioPick"><input type="radio" name="submit" value="GegardMousasi">Gegard Mousasi</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="GeorgeSullivan">George Sullivan</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="GianVillante">Gian Villante</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="GilbertBurns">Gilbert Burns</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="GleisonTibau">Gleison Tibau</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="HacranDias">Hacran Dias</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="IanEntwistle">Ian Entwistle</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="IslanMakhachev">Islam Makhachev</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="JakeLindsey">Jake Lindsey</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JakeMatthews">Jake Matthews</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JamesKrause">James Krause</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JamesMulheron">James Mulheron</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JamieVarner">Jamie Varner</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JasonSaggo">Jason Saggo</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JessicaAndrade">Jessica Andrade</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JoaquinSilva">Joaquim Silva</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JoeRiggs">Joe Riggs</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JohnMoraga">John Moraga</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JohnnyCase">Johnny Case</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JonJones">Jon Jones</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JoshBurkman">Josh Burkman</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JoshSampo">Josh Sampo</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JoshThompson">Josh Thomson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JulianErosa">Julian Erosa</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="JustonScoggins">Justin Scoggins</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="JustonWillis">Justin Willis</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="KetlenVieira">Ketlen Vieira</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="KevinCasey">Kevin Casey</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="KevinLee">Kevin Lee</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="LevanMakashvili">Levan Makashvili</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="LukeBarnatt">Luke Barnatt</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="LuanChaga">Luan Chagas</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="LukeJumeau">Luke Jumeau</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="LymonGood">Lymon Good</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MarcinWrzosek">Marcin Wrzosek</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MarcusBrimage">Marcus Brimage</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MarionReneau">Marion Reneau</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MarkHunt">Mark Hunt</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MartinBravo">Martin Bravo</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MatheusNicolau">Matheus Nicolau</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MauricioRua">Mauricio Rua</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MaxGriffin">Max Griffin</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MattDwyer">Matt Dwyer</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MichaelBisping">Michael Bisping</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MichaelChiesa">Michael Chiesa</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MikeRhodes">Mike Rhodes</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MishaCirkunov">Misha Cirkunov</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MitchGagnon">Mitch Gagnon</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="MizutoHirota">Mizuto Hirota</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="OlivierAubin-Mercier">Olivier Aubin-Mercier</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="OluwalteBamgbose">Oluwale Bamgbose</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="PatBerry">Pat Barry</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="PatrickCote">Patrick Cote</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="PatrickCummins">Patrick Cummins</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="PatrickWilliams">Patrick Williams</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="PaulFelder">Paul Felder</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="PiotrHallmann">Piotr Hallmann</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RafaelNatal">Rafael Natal</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RafaelloOliveira">Rafaello Oliveira</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RaniYahya">Rani Yahya</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RaphaelAssuncao">Raphael Assuncao</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RahidMagomedov">Rashid Magomedov</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="RenatoCarneiro">Renato Carneiro</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RichieVaculik">Richie Vaculik</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="RichieVacult">Richie Vacult</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RogerNarvaez">Roger Narvaez</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RobertWhittaker">Robert Whittaker</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RodrigoDamm">Rodrigo Damm</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RoldanSangcha'an">Roldan Sangcha'an</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RomanSalazar">Roman Salazar</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RonaldoSouza">Ronaldo Souza</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RossPearson">Ross Pearson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RoyNelson">Roy Nelson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RoystonWee">Royston Wee</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="RyanBenoit">Ryan Benoit</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="SamAlvey">Sam Alvey</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="SeanO'Connell">Sean O'Connell</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="SergioMoraes">Sergio Moraes</label><br>
	<label class="radioPick"><input type="radio" name="submit" value="SergioPettis">Sergio Pettis</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="SoaPalelei">Soa Palelei</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="TakeyaMizugaki">Takeya Mizugaki</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="TatsuyaKawajiri">Tatsuya Kawajiri</label><br>
			<label class="radioPick"><input type="radio" name="submit" value="ThomasAlmeida">Thomas Almeida</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="TonyFerguson">Tony Ferguson</label><br>
        <label class="radioPick"><input type="radio" name="submit" value="TomNiinimaki">Tom Niinimaki</label><br>
        		<label class="radioPick"><input type="radio" name="submit" value="TravisBrowner">Travis Browne</label><br>
       	 		<label class="radioPick"><input type="radio" name="submit" value="WilliamMacario">William Macario</label><br>
      		  	<label class="radioPick"><input type="radio" name="submit" value="WilsonReis">Wilson Reis</label><br>
       			<label class="radioPick"><input type="radio" name="submit" value="YanCabral">Yan Cabral</label><br>
        		<label class="radioPick"><input type="radio" name="submit" value="YancyMedeiros">Yancy Medeiros</label><br>
		        <label class="radioPick"><input type="radio" name="submit" value="ZachMakovsky">Zach Makovsky</label><br>
        		<label class="radioPick"><input type="radio" name="submit" value="ZubairTuhugov">Zubair Tuhugov</label><br>
		</div>
	</div>
	<div class="w3-half">
                <div class="w3-container w3-left-align">
                        <label class="radioPick"><input type="radio" name="submit2" value="AbelTrujillo">Abel Trujillo</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AdamWieczorek">Adam Wieczorek</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AkbarArreola">Akbar Arreola</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AlejandroPerez">Alejandro Perez</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AlessioDiChirico<">Alessio Di Chirico</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AlexGarcia">Alex Garcia</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AlexNicholson">Alex Nicholson</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AlexOliveira">Alex Oliveira</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AlexVolkanovski">Alex Volkanovski</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AlexanderVolkov">Alexander Volkov</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AlexanderYakovlev">Alexander Yakovlev</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="AlistairOvereem">Alistair Overeem</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="AndreasStahl">Andreas Stahl</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="AndrewCraig">Andrew Craig</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="AndrewHolbrook">Andrew Holbrook</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="AnthonyBirchak">Anthony Birchak</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="AnthonyWaldburger">Anthony Waldburger</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="AntonioRogerioNogueira">Antonio Rogerio Nogueira</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="AshleeEvans">Ashlee Evans</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="AugustoMendes">Augusto Mendes</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="AugustoMontano">Augusto Montano</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="BelalMuhammed">Belal Muhammad</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="BenRothwell">Ben Rothwell</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="BenSaunders">Ben Saunders</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="BeneilDariush">Beneil Dariush</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="BobbyGreen">Bobby Green</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="BrunoSantos">BrunoSantos</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="BryanCaraway">Bryan Caraway</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="CainVelasquez">Cain Velasquez</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="CBDollaway">CB Dollaway</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="ChadMendes">Chad Mendes</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="ChrisWade">Chris Wade</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="ClaudioPuelles">Claudio Puelles</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="ClayCollard">Clay Collard</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="CezarFerreira">Cezar Ferreira</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="CodyGarbrandt">Cody Garbrandt</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="CodyGibson">Cody Gibson</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="CoreyAnderson">Corey Anderson</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="CourtMcgee">Court McGee</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="CyrilAsker">Cyril Asker</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="DamonJackson">Damon Jackson</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="DanielCormier">Daniel Cormier</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="DanielHooker">Daniel Hooker</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="DanielJolly">Daniel Jolly</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="DanKelly">Dan Kelly</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="DannyCastillo">Danny Castillo</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="DaveGalera">Dave Galera</label><br>
         <label class="radioPick"><input type="radio" name="submit2" value="DerekBrunson">Derek Brunson</label><br>
            <label class="radioPick"><input type="radio" name="submit2" value="DerrickLewis">Derrick Lewis</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="DmitrySmolyakov">Dmitry Smolyakov</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="DominiqueSteele">Dominique Steele</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="DooHoChoi">Doo Ho Choi</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="DustinOrtiz">Dustin Ortiz</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="EliasTheodorou">Elias Theodorou</label><br>
                 <label class="radioPick"><input type="radio" name="submit2" value="ErickMontano">Erick Montano</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="ErikKoch">Erik Koch</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="EvanDunham">Evan Dunham</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="FabricioWerdum">Fabricio Werdum</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="FranciscoRivers">Francisco Rivera</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="FranciscoTrinaldo">Francisco Trinaldo</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="FrankMir">Frank Mir</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="FrankieEdgar">FrankieEdgar</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="GabrielBenitez">Gabriel Benitez</label><br>
                <label class="radioPick"><input type="radio" name="submit2" value="GegardMousasi">Gegard Mousasi</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="GeorgeSullivan">George Sullivan</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="GianVillante">Gian Villante</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="GilbertBurns">Gilbert Burns</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="GleisonTibau">Gleison Tibau</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="HacranDias">Hacran Dias</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="IanEntwistle">Ian Entwistle</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="IslanMakhachev">Islam Makhachev</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JakeLindsey">Jake Lindsey</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JakeMatthews">Jake Matthews</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JamesKrause">James Krause</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JamesMulheron">James Mulheron</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JamieVarner">Jamie Varner</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JasonSaggo">Jason Saggo</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JessicaAndrade">Jessica Andrade</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JoaquinSilva">Joaquim Silva</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JoeRiggs">Joe Riggs</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JohnMoraga">John Moraga</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JohnnyCase">Johnny Case</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JonJones">Jon Jones</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JoshBurkman">Josh Burkman</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JoshSampo">Josh Sampo</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JoshThompson">Josh Thomson</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JulianErosa">Julian Erosa</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JustonScoggins">Justin Scoggins</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="JustonWillis">Justin Willis</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="KetlenVieira">Ketlen Vieira</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="KevinCasey">Kevin Casey</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="KevinLee">Kevin Lee</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="LevanMakashvili">Levan Makashvili</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="LukeBarnatt">Luke Barnatt</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="LuanChaga">Luan Chagas</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="LukeJumeau">Luke Jumeau</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="LymonGood">Lymon Good</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MarcinWrzosek">Marcin Wrzosek</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MarcusBrimage">Marcus Brimage</label><br>
	<label class="radioPick"><input type="radio" name="submit2" value="MarionReneau">Marion Reneau</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MarkHunt">Mark Hunt</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MartinBravo">Martin Bravo</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MatheusNicolau">Matheus Nicolau</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MauricioRua">Mauricio Rua</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MaxGriffin">Max Griffin</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MattDwyer">Matt Dwyer</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MichaelBisping">Michael Bisping</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MichaelChiesa">Michael Chiesa</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MikeRhodes">Mike Rhodes</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MishaCirkunov">Misha Cirkunov</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MitchGagnon">Mitch Gagnon</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="MizutoHirota">Mizuto Hirota</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="OlivierAubin-Mercier">Olivier Aubin-Mercier</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="OluwalteBamgbose">Oluwale Bamgbose</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="PatBerry">Pat Barry</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="PatrickCote">Patrick Cote</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="PatrickCummins">Patrick Cummins</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="PatrickWilliams">Patrick Williams</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="PaulFelder">Paul Felder</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="PiotrHallmann">Piotr Hallmann</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RafaelNatal">Rafael Natal</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RafaelloOliveira">Rafaello Oliveira</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RaniYahya">Rani Yahya</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RaphaelAssuncao">Raphael Assuncao</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RahidMagomedov">Rashid Magomedov</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RenatoCarneiro">Renato Carneiro</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RichieVaculik">Richie Vaculik</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RichieVacult">Richie Vacult</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RogerNarvaez">Roger Narvaez</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RobertWhittaker">Robert Whittaker</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RodrigoDamm">Rodrigo Damm</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RoldanSangcha'an">Roldan Sangcha'an</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RomanSalazar">Roman Salazar</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RonaldoSouza">Ronaldo Souza</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RossPearson">Ross Pearson</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RoyNelson">Roy Nelson</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RoystonWee">Royston Wee</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="RyanBenoit">Ryan Benoit</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="SamAlvey">Sam Alvey</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="SeanO'Connell">Sean O'Connell</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="SergioMoraes">Sergio Moraes</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="SergioPettis">Sergio Pettis</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="SoaPalelei">Soa Palelei</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="TakeyaMizugaki">Takeya Mizugaki</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="TatsuyaKawajiri">Tatsuya Kawajiri</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="ThomasAlmeida">Thomas Almeida</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="TonyFerguson">Tony Ferguson</label><br>
        <label class="radioPick"><input type="radio" name="submit2" value="TomNiinimaki">Tom Niinimaki</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="TravisBrowner">Travis Browne</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="WilliamMacario">William Macario</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="WilsonReis">Wilson Reis</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="YanCabral">Yan Cabral</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="YancyMedeiros">Yancy Medeiros</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="ZachMakovsky">Zach Makovsky</label><br>
                        <label class="radioPick"><input type="radio" name="submit2" value="ZubairTuhugov">Zubair Tuhugov</label><br>
                </div>
        </div>
	<div class="w3-padding-32">
		<button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" name="fight" style="font-weight:900;" value="1">FIGHT!</button>
	</div>

</div>
{% endblock %}

